* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}
.chatapp {
    width: 400px;

    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(pexels-valdemaras-d-1647972.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.name {
    display: none;
}
.nav {
    background-color: white;
    align-items: center;
    /* margin-top: 5px; */
    display: flex;
    
    position: fixed;
    width: 400px;
    height: 50px;
}
.message {
    color: blue;

}
.profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2.1px solid;
    border-color: rgb(99, 99, 232);
    margin-left: 20px;
}
.name {
    margin-left: 10px;
}
.videocall {
    height: 30px;
    width: 30px;
    right: 0;
    position: absolute;
    margin-right: 50px;
}
.voicecall {
    height: 20px;
    width: 20px;
    right: 0;
    position: absolute;
    margin-right: 20px;
}
.footer {
    background-color: rgb(231, 230, 230);
    width: 400px;
   height: 40px;
   padding: 5px;
   /* display: flex; */
   /* justify-content: space-around; */
   /* margin-top: 745px; */
   position: fixed;
   margin: auto;
}
#text {
    border-radius: 30px;
    border: 1px solid beige;
    padding: 5px;
    height: 25px;
    width: 250px;
    margin-bottom: 70px;
    margin-top: -50px;
    margin-left: 10px;
}
#text:focus {
    outline: none;
    color: black;
}
.camera {
    margin-left: 10px;
}
.voice {
    margin-left: 10px;
}
.send {
    background-color: blue;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 15px;
}
.add {
    height: 18px;
    width: 18px;
    margin: auto;
    margin-top: 5px;
}
.screen {
    margin-top: 60px;
    /* margin-bottom: 300px; */
    width: 400px;
    height: 674px;
    
    
}
#screen {
    color: black;
    background-color: white;
    /* width: 10px; */
    border-radius: 50px;
    padding: 10px;
    margin-top: 50px;
}
.home {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: white;
    height: 100vh;
}
.whatsapp {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 6px;
}
.edit {
    color: blue;
    font-size: 18px;
    margin-top: -2px;

}

.right {

    background-color: white;
    align-items: center;
    /* margin-top: 5px; */
    display: flex;
    
    margin-right: 20px;
    width: 0px;
    height: 50px;
    
}
.stat {
    margin-right: 30px;
}
.calls {
    margin-left: 90px;
}
.pen  {
    margin-left: 10px;
}
.users {
    margin-left: 30px ;
}
.chats {
    margin-left: 30px;
}
.settings {
  /* margin-right: 90px; */
  margin-left: 47px;
  margin-right: 35px;
}
.position {
    margin-left: 320px;
}

.homefooter {
    background-color:black;
     position: fixed;
     
     display: flex;
     flex-direction: row;
     height: 70px;
     width: 400px;
     margin-left: -10px;
margin-right: -10px;
    margin-top: 700px;
}
.caller {
    background-color: white;
    text-align: center;
    height: 100vh;
    width: 400px;
    color: black;
    margin: auto;
    display: none;
}
.calls {
    margin-left: 15px;
}
.up {
    margin-left: 10px;
}
.com {
    margin-left: 25px;
}
.set {
    margin-left: 10px;
}
.icon {
    display: flex;
    padding: 10px;
    color: lightgray;
    font-size: 15px;
    justify-content: space-around;
}
.chas {
    font-weight: 1500px;
    font-family: sans-serif;
    font-size: 30px;
}
.searc {
    border-radius: 10px;
    width: 340px;
    border: none;
    height: 30px;
    padding: 10px;
    background-color: lightgray;
}
.search {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mid {
    display: flex;
    color: blue;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.people {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 380px;
    /* height: 950px; */
}
.peop {
    width: 50px;
    height: 50px;
}
.cha {
    display: flex;
}
.contac {
    font-family: sans-serif;
    font-weight: 1500px;
    font-size: 20px;
    /* display: block; */
    margin-left: 10px;
    
}
.tex {
    margin-top: 25px;
    margin-left: -100px;
    color: gray;
}
.short {
    margin-left: 60px;
}
.lo {
    margin-left: -10px;
    margin-right: -10px;
}